.card {
  background-color: var(--primary-light);
  padding: 1em;
}

.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardButton {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 6px;
}

.cardText {
  display: flex;
  flex-direction: column;
}

.cardThumb {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.cardTitle h3 {
  margin: 0;
  font-family: 'Courgette', sans-serif;
}