body {
  color: var(--primary-dark);
  font-family: sans-serif;
  margin: 0;
}

h1 {
  color: var(--primary-dark);
  font-family: 'Courgette', sans-serif;
  padding: 0.5em;
  margin-block: 0;
}

.bulkText {
  padding: 0 1em;
}

.bulkText p {
  margin: 0 0 1em 0;
}