.footerContainer {
    text-align: center;
}

.footerSocial {
    padding: 0.5em;
}


.footerAcknowledgement {
    background: black;
    color: white;
    margin: 0 auto;
    padding: 0.5em;
    width: 250px;
}