.tagsWordcloud {
  background: var(--primary-contrast);
  height: 300px;
  width: 100%;
}

.tagsWordcloud p {
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

.tagsWordcloud svg {
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 700px;
  max-height: 300px;
}

.tagsWordcloudLoading {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}