.blogpostBody {
  display: flex;
  flex-direction: column;
}

.blogpostMetadata {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  padding: 0 1em 1em;
}

.blogpostText {
  padding: 1em 1em 0;
}

.blogpostText :is(p, img) {
  padding: 0 0 0.5em;
}

/*Adds margin on large screens*/
@media screen and (min-width: 577px) {
  .blogpostBody {
    display: flex;
    flex-direction: row;
  }
  .blogpostTagBox {
    flex: 0 0 180px;
    padding-top: 1em;
  }

  .blogpostText {
    flex: 1;
  }
}