@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.css";

body {
  font-family: sans-serif;
}

h1 {
  color: var(--primary-dark);
  font-family: var(--font-headers-and-menus), sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding: 0.5em;
  margin-block: 0;
}

h2,
h3 {
  color: var(--primary-dark);
  font-family: var(--font-headers-and-menus), sans-serif;
  font-size: large;
  font-weight: bolder;
}
